extends layout

block content
  h1= title
  p Welcome to #{title}
<<<<<<< HEAD

      header
      h1 My Site
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus
   
=======
  #chartdiv
    style(width:100%; height:400px;)
>>>>>>> a4817a76d55211cbdb8981973c57a5db022eb29e
