extends layout

block brand-name
  h1 #{title}
block tagline
  p The world's first ever commission-free cryptocurrency trading platform.

block stock-chart
  #chartdiv
    style(width:100%; height:400px;)

block content
  p this is block content
block sidebar
  p this is sidebar data

block footer
  ul 
    li home
    li about
    li careers
    li help